h1{
    color:red;
    font-family: "arial",sans-serif;
    font: 40px/1"Montez";
    background-color: transparent;
}
ul{
    padding: 0;
}
li{
    float: left;
    font: 17px/1"Montez";
    color: #a4834d;
    padding:1em;
    list-style: none;
}
p{
    font: 25px/1"Montez";
    color:blue;
}
body{
    font-family: "Helvetica","Arial",serif;
    color: #333;
    background-color:#ccc;
    margin: 1em 10%;
}
a{
    color:#c60;
    background-color:transparent;
    text-decoration: none;
}
img{
    display: block;
    clear: both;
}
